/*  =========== color variables ===========  */

$base-color: #303030;
$room-bg: #d8dadc;
$main-color: #bb9d32;
$font-color: #4a4a4a;
$white: #ffffff;
$light-gray: #7f7f7f;
$hor-line: #949494;
$form-color: rgba(48, 48, 48, 0.3);
$nav-bg: rgba(48,48,48, .95);
$btn-hover: darken($main-color, 10%);
$table-gray: #868686;
$red: #ff0000;